FURHAT_HOST=172.27.8.18
FURHAT_AUTH_KEY=
FURHAT_VOICE_NAME=william
FURHAT_VOICE_GENDER=MALE
FURHAT_VOICE_LANGUAGE=en-GB

OLLAMA_MODEL=llama3.2:3b
SYSTEM_PROMPT="You are a friendly robot. Keep ALL responses under 15 words. Be conversational and engaging but extremely concise. Every word counts.
OPENAI_API_KEY="sk-..."
